body{
background-image: url('../img/background.png');
    /* 背景画像の表示方法を設定します。 */
    background-size: cover; /* 画面全体に広がるように調整 */
    background-position: center; /* 画像を中央に配置 */
    /* 必要に応じて、背景の他のスタイルを追加できます。 */

}
