@charset "UTF-8";
body {
	background-image: url('../img/background.png');
    /* 背景画像の表示方法を設定します。 */
    background-size: cover; /* 画面全体に広がるように調整 */
    background-position: center; /* 画像を中央に配置 */
    /* 必要に応じて、背景の他のスタイルを追加できます。 */
    margin: 0 250px 0 150px;
}
h1{
	color:#1C82B0;
	font-size:220%;
	margin: 0 0 0 60px;
}
h4{
	font-size: 200%;
	color:#1C82B0;
}
.a {
	color:#2BA6DD;
	font-size:130%;
	margin: 0 0 0 60px;

}

.container-calendar {
  padding: 15px;
  width: 100%;
  padding: 0 130px 0 50px;
  overflow: auto;
 }
.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}
.table-calendar {
  border-collapse: collapse;
  width: 100%;
  height: 400px;
  border-radius: 10px 0 0 0;
  background-color:white;
}
.table-calendar th,
.table-calendar td{
  padding: 10px 50px;
  border: 1px solid black;
 text-align: center;
  table-layout: fixed;
}

.date-picker.selected {
  font-weight: bold;
  color: #fff;
  background: #cc0000;
}
.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}
/* 日曜 */
.date-picker:nth-child(1) {
color: red;
}
/* 土曜 */
.date-picker:nth-child(7) {
color: blue;
}
#monthAndYear {
  text-align: center;
  margin-top: 0;
}
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}
#previous {
  float: left;
  width: 50px;
  padding: 10px;
  background: #A6CAEC;
}
#next {
  float: right;
  width: 50px;
  padding: 10px;
  background: #F6C6AD;
}
.footer-container-calendar {
  margin-top: 1em;
  padding: 10px 0;
}
.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
 /* background: #ffffff;*/
  color: #454545;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #393939;
  border-radius: 3px;
  opacity: 90%;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(139, 130, 130, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
.menu-content {
  width: 60%;
  height: 60%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #5a5a5a;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
.menu-content {
  width: 30%;
  height: 50%;/*サイドバーのサイズ*/
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #393939;
  opacity: 90%;
  transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
  left: 70%;/*メニューを画面内へ*/
}
#menu-btn-check {
  display: none;
}
.container-calendar{
  /*width: 800px; /* カレンダー全体の幅 */
  margin: 0 auto; /* 中央揃え */
  /*border: 1px solid #ccc; /* 枠線の設定 */
  /*padding: 30px; /* 内側の余白 */

}

.button-container-calendar {
  margin-bottom: 10px;
}

.button-container-calendar button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}

.table-calendar {
  width: 100%; /* カレンダーテーブルの幅 */
  border-collapse: collapse; /* セルの境界線の重なりを防ぐ */
}

.table-calendar th,
.table-calendar td {
  border: 1px solid #ccc; /* セルの枠線の設定 */
  padding: 5px; /* セルの内側の余白 */
  text-align: center; /* テキストの中央揃え */
  border-radius: 10px 0 0 0;
}

.table-calendar th {
  /*background-color: #f0f0f0; /* 曜日ヘッダーの背景色 */
  height: 60px;
  border-radius: 10px 0 0 0;
}

.table-calendar .date-picker {
  cursor: pointer;
}

.table-calendar .selected {
  background-color: #A6CAEC; /* 選択された日付の背景色 */
  color: #fff; /* 選択された日付のテキスト色 */
}

.footer-container-calendar {
  margin-top: 10px;
}

.footer-container-calendar label {
  font-weight: bold;
  margin-right: 5px;
}

.footer-container-calendar select {
  padding: 5px;
}

#my_balloon {
	position: relative;
}
#my_xy ul {
	list-style-type: none;
}
#my_xy ul li {
	float: left;
	width: 33%;
	height:100px;
}
.balloon {
  position: relative;
}
.balloon:hover .balloon_contents {
  display: inline-block;
}
.balloon_contents {
  position: absolute;
  display: none;
  padding: 25px;
  background-color: #a0a0af;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  left : -45px;
  top : 20px;
  border-radius: 10px;
  opacity: 0.5;
}
.balloon_contents:after{
  content: "";
  position: absolute;
  top: 30%;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #a0a0af;
}
.date-picker:hover .balloon_contents{
	  display: inline-block;
}
.balloon_b{
	position: relative;
}