@charset "UTF-8";
body{
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center; 
	margin: 40px auto 0 auto;	/* 中央揃え */
 	width: 700px;			/* 幅を固定 */
}

.b {
	font-size:30px;
	color:#9DF5CD;
}

.child_name{
	font-size:30px;
	text-align:right;
}

.child_acount{
	padding:30px;
	max-width:220px;
	min-width:220px;
	min-height:210px;
	background-clip:padding-box;
	color:#000000;
	border-radius:60px; 
	border:20px solid transparent;
}

 .childprofile{
  display:flex;
 }

 .child_acount a{
  display: block;
  text-decoration: none;
  color:#000000;
}

.child_acount:hover {
  transform:scale(1.05, 1.05);
  cursor: pointer;
}

.housework{
	padding:10px;
	max-width:600px;
	min-height:260px;
	background-color:#FFFFBA;
	color:#000000;
	border-radius:30px;
}

label {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}

label::before,
label::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

 label::before {
  background-color: #fff;
  border: 1px solid "#F7DDF1";
  height: 20px;
  width: 20px;
  left: 5px;
}

 label::after {
  background-color: "#F7DDF1";
  opacity: 0;
  height: 16px;
  width: 16px;
  left: 7px;
}

