@charset "UTF-8";
body{
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center; 
	margin: 40px auto 30px auto;	/* 中央揃え */
 	width: 700px;			/* 幅を固定 */
}
.p{
	width:600px;
	padding:5px 15px;
	text-align:center;
	background-color:#FFFFBA;
	border-radius:10px;
	font-size:1.5em;
	color:#00FF99;
}
.b {
	font-size:30px;
	color:#5FE7A0;
	margin:20px  0 0 20px;
}

.child_name{
	font-size:30px;
	text-align:right;
}

.child_acount{
	padding:30px;
	max-width:220px;
	min-width:220px;
	min-height:210px;
	background-clip:padding-box;
	color:#000000;
	border-radius:60px; 
	border:15px solid transparent;
}

 .childprofile{
  display:flex;
  flex-wrap:wrap;
 }

 .child_acount a{
  display: block;
  text-decoration: none;
  color:#000000;
}

.child_acount:hover {
  transform:scale(1.05, 1.05);
  cursor: pointer;
}

.housework{
	padding:10px;
	max-width:600px;
	min-height:260px;
	background-color:#FFFFBA;
	color:#000000;
	border-radius:30px;
}

.houseworkTable{
	width:500px;
	margin:10px 0 20px 55px;
}

.title{
	font-size:22px;
	text-align:center;
	padding: 0 10px 10px 10px;
	color:#5FE7A0;
}

.work{
	text-align:center;
	font-size:18px;
	color:#5FE7A0;
}

img{
	border-radius:25px;
}

td{
	margin:20px;
}