@charset "UTF-8";

body{
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center;	/* 中央揃え */
 	width: 700px;			/* 幅を固定 */
}

h1{
	font-size: 30px;
	color:#1C82B0;
	position: absolute;
	top: -5px;
	left: 50px;
}

h2{
	font-size: 15px;
	color:#1C82B0;
	position: absolute;
	top: 48px;
	left: 50px;
}

.madori img{
	position: relative;
	width: 980px;
	top: 85px;
	left:  240px;

}
img{
	width: 120px;
	position: relative;
	}



.controlXY:hover {
	cursor: pointer;
}

/*input[type="text"] {
    opacity: 0%;
}*/


#my_xy {
    position: absolute;
	height: 540px;
	width: 980px;

}
#my_xy::after {
    content: " ";
    display: block;
    clear: both;
}
#my_xy div {
	float: left;
	width: 100%;
}
#my_xy ul {
	float: right;
	width: 100%;
	list-style-type: none;

}
#my_xy ul li {
	width: 100%;
	height:100px;
}
.controlXY {
	width: 120px;
	height: 120px;
	position: absolute;
}
.action{
	position: absolute;
	top: 630px;
	left: 510px;
}

input[type="submit"] {
    width: 500px;
    height: 70px;
    background-color: #C1E5F5;
    color: #1C82B0;
    font-size: 30px;
    border: none;
    border-radius: 7px;
    transition: opacity 0.3s ease;
}

input[type="submit"]:hover {
    opacity: 0.6;
}


.btn {
  background: #FF8585;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  width: 200px;
  height: 100px;
  border-radius: 50vh;
  line-height:5;
  display: inline-block;
  margin-left: 270px;
  text-align: center;
  position: absolute;
  top: -50px;
}

.btn:hover {
  opacity: .8;
}


/* オーバーレイ */
.overlay {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ */
.modal {
  max-width: 500px;
  width: 86%;
  padding: 260px 170px;
  background: #fff;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  transition: .3s;
  background-image: url("/D2/img/reward.png");
  background-size: cover;
	background-position: center;	/* 中央揃え */
 	font-size:1.8em;
}

/* activeクラスのついたモーダルウィンドウ */
.modal.active {
  opacity: 1;
  visibility: visible;
   width: 510px;
  height:300;

}

/* モーダルウィンドウ内の閉じるボタン */
.modal .close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 35px;
}

.modal img {

  position: relative;
}

.mwp{
	padding:0 0 0 135px;
	text-align:center;
	color:#00CC99;
	font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";

}

.modal p {
  font-weight: bold;
  position: absolute;
  font-size: 40px;
  text-align: center;
  margin-left: 20px;
  margin-top: -10px;
}
.close{
	color:#ffffff;
	font-size: 20px;
	font-weight: bold;
}
