@charset "UTF-8";

body{
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center;	/* 中央揃え */
 	width: 700px;			/* 幅を固定 */
}

.madori img{
	position: relative;
	width: 1075px;
	top: 25px;
	left:  220px;

}
img{
	width: 120px;
	position: relative;
	}



.controlXY:hover {
	cursor: pointer;
}

/*input[type="text"] {
    opacity: 0%;
}*/


#my_xy {
    position: absolute;
	height: 540px;
	width: 980px;

}
#my_xy::after {
    content: " ";
    display: block;
    clear: both;
}
#my_xy div {
	float: left;
	width: 100%;
}
#my_xy ul {
	float: right;
	width: 100%;
	list-style-type: none;

}
#my_xy ul li {
	width: 100%;
	height:100px;
}
.controlXY {
	width: 120px;
	height: 120px;
	position: absolute;
}
.action{
	position: absolute;
	top: 630px;
	left: 530px;
}

input[type="submit"] {
    width: 500px;
    height: 70px;
    background-color: #C1E5F5;
    color: #1C82B0;
    font-size: 30px;
    border: none;
    border-radius: 7px;
}

/* モーダルウィンドウの基本スタイル */
.modal {
	display: none; 
	position: fixed; 
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,0.7);
}

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fefefe;
	border: 1px solid #888;
}

#closeModal {
  　float: right;
  　font-size: 28px;
  　font-weight: bold;
  　cursor: pointer;
}