@charset "UTF-8";

body{
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center;	/* 中央揃え */
 	width: 700px;			/* 幅を固定 */
}

h1{
	font-size: 30px;
	color:#1C82B0;
	position: absolute;
	top: -5px;
	left: 50px;
}

h2{
	font-size: 15px;
	color:#1C82B0;
	position: absolute;
	top: 48px;
	left: 50px;
}

.madori img{
	position: relative;
	width: 980px;
	top: 85px;
	left:  240px;

}
img{
	width: 120px;
	position: relative;
	}



.controlXY:hover {
	cursor: pointer;
}

/*input[type="text"] {
    opacity: 0%;
}*/


#my_xy {
    position: absolute;
	height: 540px;
	width: 980px;

}
#my_xy::after {
    content: " ";
    display: block;
    clear: both;
}
#my_xy div {
	float: left;
	width: 100%;
}
#my_xy ul {
	float: right;
	width: 100%;
	list-style-type: none;

}
#my_xy ul li {
	width: 100%;
	height:100px;
}
.controlXY {
	width: 120px;
	height: 120px;
	position: absolute;
}
.action{
	position: absolute;
	top: 630px;
	left: 510px;
}

input[type="submit"] {
    width: 500px;
    height: 70px;
    background-color: #C1E5F5;
    color: #1C82B0;
    font-size: 30px;
    border: none;
    border-radius: 7px;
}


.btn {
/*
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #C1E5F5;
  border-radius: 5px;
  color: #1C82B0;
  margin: 20px;
  transition: 0.3s;
*/
  background: #dc143c;
  color: #ffffff;
  width: 120px;
  height: 80px;
  box-shadow: 0 5px 0 #960e29;
  border-radius: 50vh;
  padding: 10px 20px;
  line-height:5;
  display: inline-block;
  margin: 20px;

}

.btn:hover {
  opacity: .8;
}


/* オーバーレイ */
.overlay {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ */
.modal {
  max-width: 500px;
  width: 86%;
  padding: 15px 20px;
  background: #fff;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  transition: .3s;
}

/* activeクラスのついたモーダルウィンドウ */
.modal.active {
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ内の閉じるボタン */
.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.modal h2 {
  font-size: 50px;
  font-weight: normal;
  margin: 0px;
  text-align: center;
}

.modal p {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

