@charset "UTF-8";

body{
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center;	/* 中央揃え */
 	width: 700px;			/* 幅を固定 */
}

.madori img{
	width: 1000px;
	position: absolute;
	top: 100px;
	left:  150px;

}
img{
	width: 120px;
	z-index: 3;
	}


#my_form{
	position: absolute;
	top: 600px;
	left: 120px;

}

/*input[type="text"] {
    opacity: 0%;
}*/


#my_xy {

	height: 750px;
	width: 1500px;

}
#my_xy::after {
    content: " ";
    display: block;
    clear: both;
}
#my_xy div {
	float: left;
	width: 100%;
}
#my_xy ul {
	float: right;
	width: 100%;
	list-style-type: none;

}
#my_xy ul li {
	width: 100%;
	height:100px;
}
.controlXY {
	width: 70px;
	height: 70px;
	position: absolute;
}

input[type="reset"]{
  width: 150px;
  height: 45px;
  background-color: #C1E5F5;
  color: #1C82B0;
  font-size: 1rem;
  border: none;
  border-radius:7px;
}

input[type="submit"]{
  width: 150px;
  height: 45px;
  background-color: #C1E5F5;
  color: #1C82B0;
  font-size: 1rem;
  border: none;
  border-radius:7px;
}
