@charset "UTF-8";

body{
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center;	/* 中央揃え */
 	width: 700px;			/* 幅を固定 */
}

.madori img{
	position: relative;
	width: 1075px;
	top: 25px;
	left:  220px;

}
img{
	width: 120px;
	z-index: 3;
	}

.controlXY:hover {
	cursor: pointer;
}

/*input[type="text"] {
    opacity: 0%;
}*/


#my_xy {
    position: relative;
	height: 600px;
	width: 1800px;

}
#my_xy::after {
    content: " ";
    display: block;
    clear: both;
}
#my_xy div {
	float: left;
	width: 100%;
}
#my_xy ul {
	float: right;
	width: 100%;
	list-style-type: none;

}
#my_xy ul li {
	width: 100%;
	height:100px;
}
.controlXY {
	width: 120px;
	height: 120px;
	position: absolute;
}
.action{
	position: absolute;
	top: 630px;
	left: 520px;
}

input[type="reset"]{
  width: 220px;
  height: 60px;
  background-color: #C1E5F5;
  color: #1C82B0;
  font-size: 23px;
  border: none;
  border-radius:7px;
}

input[type="submit"]{
  width: 220px;
  height: 60px;
  background-color: #C1E5F5;
  color: #1C82B0;
  font-size: 23px;
  border: none;
  border-radius:7px;
  margin-right: 80px;
}
