
@charset "UTF-8";

body{
  margin: 0 0 0 0;	/* マージンなし（後で個別に設定） */
  padding: 0 0 0 0;
  color: #2BE993;
  font-size: 25px;
background-image: url('../img/background.png');
    /* 背景画像の表示方法を設定します。 */
    background-size: cover; /* 画面全体に広がるように調整 */
    background-position: center; /* 画像を中央に配置 */
    /* 必要に応じて、背景の他のスタイルを追加できます。 */

}

h1 {
	margin: 300px 0 0 0;
}
.wrapper {
 /* margin: 0 auto 0 auto;	/* 中央揃え
  width: 920px;			/* 幅を固定 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[name=pw] {
  width: 25em;
  height: 4em;
  margin: 50px 0 0 -90px;
  font-family: Tahoma;
}



input[type="submit"]{
  width: 150px;
  height: 50px;
  background-color: #C1E5F5;
  color: #1C82B0;
  font-size: 25px;
  border: none;
  border-radius:7px;
  margin: 50px 0 0 300px;
}

.box_css{
width:800px;
height:300px;
margin: 5em;
border: solid 3px #000000;
background-color: #FFFFBA;
border-radius:30px;
border: none;
}

label {
  position: relative;
  top: 20px;
  left: 300px;
}
