@charset "UTF-8";

body{
	background-image: url('../img/background_p.png');
	margin: 0 auto 0 auto;	/* 中央揃え */
 	width: 700px;			/* 幅を固定 */
}

h1{
	color:#1C82B0;
	font-size:220%;
}

h2, h3, p{
	color:#1C82B0;
}

.a {
	color:#2BA6DD;
	font-size:130%;
}

#comment_form, .reward_setting{
	padding:50px;
	max-width:600px;
	max-height:180px;
	background-color:#FFFFBA;
	color:#1C82B0;
	border-radius:30px;
}

.childprofile_setting{
	text-align:center;
	padding:30px;
	min-width:500px;
	max-width:500px;
	max-height:180px;
	background-color:#FFFFBA;
	color:#1C82B0;
	border-radius:30px;
}


.housework_setting{
 	max-width:250px;
	max-height:200px;
	padding: 30px;
	background-color:#FFFFBA;
	color:#1C82B0;
	border-radius:30px;
 }
 
input[type="reset"]{
  width: 100px;
  height: 30px;
  background-color: #C1E5F5;
  color: #1C82B0;
  font-size: 1rem;
  border: none;
  border-radius:7px;
}

input[type="submit"]{
  width: 100px;
  height: 30px;
  background-color: #C1E5F5;
  color: #1C82B0;
  font-size: 1rem;
  border: none;
  border-radius:7px;
}

.button{
	text-align:center;
}

.delete {
	text-align:right;
}

#delete {
	width: 30px;
	height:30px;
	background-image: url('../img/icon_delete.png');
	background-color:#FFFFBA;
	text-indent: -9999px;
	cursor: pointer;
	background-position: center;
}

input[name=reword_star]{
  width: 5em;
}

input[name=reword_paragraph]{
  width: 35em;
  height:7em;
}

input[name=housework_contents]{
  width: 10em;
  height:4em;
}